.profile-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%; 
  border: 4px solid #ea6868; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05); 
}
